{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}
    <main class="row mt-3 mb-5 " >
      <div class="mt-5 contacto">
        <h2 class="offset-1 col-10 fs-1"><strong> Enviar una solicitud: </strong></h2>
        <form id="form-contact"  class="offset-1 col-10 form mb-5">
          <div class="form-group fs-3 mt-4">
              <label for="name">Nombre completo:</label>
              <input type="text" class="form-control fs-4" id="name" placeholder="Juanito Connor">
              <small id="nameHelp" class=" form-text text-danger"> </small>
          </div>

          <div class="form-group fs-3 mt-4">
            <label for="email">Email: </label>
            <input type="email" class="form-control fs-4" id="email" placeholder="jConnor@skynet.com">

            <small id="mailHelp" class=" form-text text-danger"> </small>
          </div> 

          <div class="form-group fs-3 mt-4">
            <label for="asunto">Asunto:</label>
            <input type="text" class="form-control fs-4" id="asunto" placeholder="-">
            <small id="asuntoHelp" class=" form-text text-danger"> </small>
          </div>   

          <div class="form-group fs-3 mt-4">
            <label for="text-area">Escribenos tu mensaje:</label>
            <textarea class="form-control fs-4" id="text-area" rows="4" placeholder="Escribenos y nos contactaremos contigo."></textarea>
            <small id="textHelp" class=" form-text text-danger"> </small>
          </div>

          <button class="btn btn-primary btn-block mt-4 fs-3 m-3" type="submit">Enviar</button>
          <small id="finalHelp" class="form-text text-danger"> </small>
        </form>
      </div>
    </main>



    <form id="formSuscribir" class="row mt-5 mb-5">
      <h2 class="text-center mb-3 mt-5"><strong> ¡NOVEDADES Y BENEFICIOS!</strong></h2>
      <p class="text-center mt-3">Suscríbete ahora a nuestro newsletter y recibe en tu email ofertas exclusivas, promociones ¡y mucho más!</p>
      
      <div class="text-center mt-3">
        <input type="email" name="email" id="emailSuscribir" placeholder="Correo electrónico">
        <button id="suscribir" type="submit" class="btn-dark">Suscribir</button>
        <small id="suscribirHelp" class="form-text text-danger"> </small>
        <small id="suscribirHelp2" class="form-text text-success"> </small> <!-- Solo para ocupar con JQuery -->
      </div>            
    </form>
    
    {% endblock main %}