{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}

      <div class="row mt-5 mb-5">
          <h1 class="text-center"> <strong> Carrito de compras</strong></h1>
      </div>

      <div class="row col-12 d-flex justify-content-between">
        <div class="container-fluid  d-flex justify-content-around" style="background-color: rgba(253, 223, 184, 0.685);">
        {% for item in productos %}
          <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xxl-3 mb-4" >
            <div class="card h-100" style="width: 15rem;">
              <a href="{% url 'core:detail' item.slug %}"><img src="{{item.imagen}}" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title"><strong>{{item.nombreProducto}}</strong>
                </h5>
                <p class="card-text"></p>
                <p> <strong> $ {{item.precioProducto}}</strong></p>
              </div>
              <div class="card-footer">
                <a href="{% url 'core:cart' item.slug %}" class="btn btn-danger">eliminar</a>
              </div>
            </div>              
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class=" col-4 offset-4">
          <table class=" table table-bordered border-primary mt-5 mb-5 ">
            <tbody class="table-group-divider">
              <tr>
                <td><i class="bi bi-credit-card-fill"></i> total a pagar </td>    <td><i class="bi bi-currency-dollar"></i> {{request.session.data.price}}</td>  
              </tr>   
            </tbody>
          </table>
        </div>
  
          {% if empty %}
          <div class="offset-1 col-sm-10">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item list-group-item-info"> Sin Articulos en tu carrito</li>
            </ol>
          </div>
          {% else %}          
            <div class="col-12 offset-4">
              <a href="#"><button class="center btn btn-primary btn-block mt-4 fs-3 m-3 col-4 " >Pagar</button></a>
            </div>            
          {% endif %}   
      </div>

    {% endblock main %}