{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike- Detalle Producto</title>
  {% endblock %}
  {% load humanize %}
    {% block main %}
      
    <div class="row d-flex justify-content-around">
        <div class="col-md-4" style="width: 15rem;">
            <img src="{{producto.imagen}}" class="img-fluid" alt="...">
        </div>

        <div class="col-md-8" >

            <h3 class="card-title"><strong>{{producto.nombreProducto}}</strong></h3>
            <p class="card-text"> {{producto.caracteristicaProducto}}</p>
            <h3 class="my-3">Detalle de Producto</h3>
                <ul>
                    <li>Precio: <strong> $ {{producto.precioProducto}}</strong></li>
                    <li>Destacado: <strong> {{producto.destacado}}</strong></li>
                </ul>
            
            
            <div class="card-footer">
              <a href="{% url 'core:cart' producto.slug %}" class="btn btn-success">Agregar a carrito de Compras</a>
            </div>
        </div>

    </div>


   {% endblock main %}
