{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}

            <form id="formSuscribir" class="row mt-5 mb-5">
                <h2 class="text-center mb-3 mt-5"><strong> ¡NOVEDADES Y BENEFICIOS!</strong></h2>
                <p class="text-center mt-3">Suscríbete ahora a nuestro newsletter y recibe en tu email ofertas exclusivas, promociones ¡y mucho más!</p>
                
                <div class="text-center mt-3">
                  <input type="email" name="email" id="emailSuscribir" placeholder="Correo electrónico">
                  <button id="suscribir" type="submit" class="btn-dark">Suscribir</button>
                  <small id="suscribirHelp" class="form-text text-danger"> </small>
                  <small id="suscribirHelp2" class="form-text text-success"> </small> <!-- Solo para ocupar con JQuery -->
                </div>            
              </form>

    {% endblock main %}
