{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}
      <div class="col-2">
        <p class="parrafo_index">Vive la Aventura junto a <span> MasterBike</span></p>
      </div>
        
      <main class="row">
        <section class="col-12 bg-black">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">              
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'core/img/bike&mountain.png'%}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'core/img/montaña-bike.jpg'%}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'core/img/original_Golden_hour_biking.jpg'%}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
      </main>
      
      <section class="row">
        <div class="principal">
          <h1 class="col-12 fs-1 border-bottom mt-2">Bienvenidos</h1>
          <p class="offset-2 col-8 pb-2"> Somos una empresa creada en el año 2023 enfocada en satisfacer las necesidades de los ciclistas. Buscamos entregar un servicio honesto y de calidad, en un tiempo justo. Contamos con taller a la vista para ofrecer una atención transparente de acuerdo a nuestros estándares de servicio.</p>
        </div>
      </section>

   {% endblock main %}
