{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}
        </header>

        <section class="row mt-5 mb-5">
            <h1 class="text-center">Preguntas Frecuentes</h1>
        </section>

        <main class="row">
            <div class="col-sm-6 col-lg-4 p_frecuentes">
              <div id="accordion">

                <h3><strong> Métodos de Despacho</strong></h3><br>

                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne1">
                      <strong> ¿Qué es el Despacho Premium?</strong>
                    </a>
                  </div>
                  <div id="collapseOne1" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Sabemos que quieres dejar las escusas y ponerte a entrenar cuanto antes. Por eso hemos creado el Despacho Premium, exclusivo para la Región Metropolitana. 
                        Por sólo $29.990 adicionales, despacharemos tu nuevo equipo Muvo al lugar que nos indiques, con un técnico que la armará y te capacitará sobre cómo usarla. 
                        Este tipo de despacho es exclusivo para productos Fitness.</p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo1">
                      <strong>¿Cómo se despachan las máquinas Muvo y Sole a Regiones?</strong>
                    </a>
                  </div>
                  <div id="collapseTwo1" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>El Despacho Express entregará tu compra al día siguiente hábil en la Región Metropolitana. 
                        Es decir, si compras un lunes, será entregado un día martes. Si compras un sábado, será entregado el día lunes. 
                        Este tipo de despacho es exclusivo para productos Fitness.</p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree1">
                      <strong>¿Qué es el Despacho Express?</strong>
                    </a>
                  </div>
                  <div id="collapseThree1" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Usamos diferentes medios de envío. Como TNT, Fedex y Correos de Chile.</p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour1">
                      <strong>¿Las Bicicletas se despachan armadas?</strong>
                    </a>
                  </div>
                  <div id="collapseFour1" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Así es. Todas nuestras bicicletas se despachan armadas y listas para ser usadas. De todas maneras, 
                        recomendamos usar el servicio de ajuste gratuito antes de los 30 días de recibida tu compra.</p>                        
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive1">
                      <strong>¿Qué es el Retiro en Tienda?</strong>
                    </a>
                  </div>
                  <div id="collapseFive1" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Es una modalidad de despacho en donde nuestro Centro de Distribución enviará el producto a la tienda que tu elijas. 
                        En la mayoría de los casos este despacho no tiene costo, pero deberás esperar a que el producto llegue a la tienda y te notifiquen que está ahí. </p>                        
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix1">
                      <strong>¿Cuánto demoran los despachos en Región Metropolitana?</strong>
                    </a>
                  </div>
                  <div id="collapseSix1" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Los despachos en la Región Metropolitana estarán en tu casa en un plazo de 3 a 5 días hábiles. 
                        Cuando tu pedido salga a despacho, un mail con información de seguimiento será enviado al correo electrónico registrado en la compra.
                        * En periodos Cyber Day pude aumentar de 5 a 7 días de despacho.</p>
                    </div>
                  </div>
                </div>
              
              </div>

            </div>
            
            <div class="col-sm-6 col-lg-4 p_frecuentes">
              <div id="accordion">
                <h3><strong> Armado Y Garantia</strong></h3><br>
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne2">
                      <strong> Armados de máquinas en Santiago</strong>
                    </a>
                  </div>
                  <div id="collapseOne2" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>El Armado de los Equipos Muvo es gratuito y solo se realizará en el perímetro urbano de Santiago con un máximo de 30 kilómetros desde la dirección de 
                        la Tienda MasterBike Store o Servicio Técnico Autorizado y con la posibilidad de contar con locomoción colectiva directa al domicilio del cliente.                    
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo2">
                      <strong>¿Las bicicletas Oxford tienen garantía de por vida?</strong>
                    </a>
                  </div>
                  <div id="collapseTwo2" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Así es. La garantía de por vida es para el dueño original de colecciones posterior al 2015, sin posibilidad de ser transferida. <br>                    
                        Los otro componentes y partes de tu bicicleta tienen diferentes tiempos de garantía. Te recomendamos leer la Póliza de Garantía que se encuentra en la sección Garantía.
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree2">
                      <strong>¿Las Bicicletas se despachan armadas?</strong><br>
                    </a>
                  </div>
                  <div id="collapseThree2" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Así es. Todas nuestras bicicletas se despachan armadas y listas para ser usadas. De todas maneras, recomendamos usar el servicio de
                         ajuste gratuito antes de los 30 días de recibida tu compra.
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour2">
                      <strong>¿Qué es el ajuste de 30 días?</strong>
                    </a>
                  </div>
                  <div id="collapseFour2" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>Las bicicletas son mecanismos complejos con muchas partes y piezas en movimiento. Por lo tanto, requieren mantenciones y ajustes. 
                        Ofrecemos un servicio de mantenimiento donde nuestros técnicos certificados le hacen una revisión mecánica, además de ajustar y regular tu bicicleta, 
                        para asegurar que tu experiencia sobre una Oxford sea la mejor. Este servicio es completamente gratuito dentro de los primeros 30 días desde la fecha de compra. <br>
                        
                        Para hacer válida la garantía de tu bicicleta, debes dirigirte a alguna tienda Oxford Store o algún Servicio Técnico autorizado y realizar un ajuste gratuito 
                        antes de los 30 días de la compra o recepción de tu producto. <br>
                        
                        Esto permitirá dejar a punto tu bicicleta para que la puedas usar con toda seguridad.
                      </p>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>

            <div class="col-sm-6 col-lg-4 p_frecuentes">
              <div id="accordion">
                <h3><strong> Pedidos</strong></h3><br>
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne3">
                      <strong>¿Puedo anular una compra?</strong>
                    </a>
                  </div>
                  <div id="collapseOne3" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p><br>
                        Si, puedes anularla si tu pedido no ha sido despachado aún.
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo3">
                      <strong>¿Cómo hacer seguimiento de mi compra?</strong>
                    </a>
                  </div>
                  <div id="collapseTwo3" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>En la parte inferior del sitio encontrarás una sección que se llama: <a href="seguimiento_envio.html"> Seguimiento de Pedidos.</a> <br>
                        Podrás hacer seguimientos de tu despacho escribiendo el número de pedido en el campo "Ingresa tu número de pedido o número de seguimiento".
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree3">
                      <strong>No tengo confirmación de compra. ¿Qué hago?</strong>
                    </a>
                  </div>
                  <div id="collapseThree3" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Luego de realizar tu compra, un mail automático llegará al email que dejaste de contacto en tu compra. <br>
                         Si no lo ves en tu bandeja en algunos minutos, te recomendamos revisar la casilla SPAM.
                      </p>                        
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour3">
                      <strong>Mi pedido llegó en mal estado o erróneo. ¿Qué debo hacer?</strong>
                    </a>
                  </div>
                  <div id="collapseFour3" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Si recibes un producto por error, está incompleto o en mal estado, contáctanos a nuestro Call Center o Formulario de contacto. Por favor, 
                        no olvides mencionar tu número de pedido y tu nombre. Te daremos solución a la brevedad.
                      </p>
                        
                    </div>
                  </div>
                </div>
              
              </div>
            </div>

            <div class="mt-4 col-sm-6 col-lg-4 p_frecuentes">
              <div id="accordion">
                <h3><strong> Productos</strong></h3><br>
                <div class="card">
                  <div class="card-header">
                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne4">
                      <strong> ¿Este producto es para mi?</strong>
                    </a>
                  </div>
                  <div id="collapseOne4" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Nuestros productos están pensados para satisfacer tus necesidades, por lo tanto hemos creado diferentes categorías para cada usuario: 
                        Hogar, Semi Profesional y Profesional. <br>
                        Dependiendo del uso que le des, te recomendamos escoger la categoría correspondiente.
                      </p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo4">
                      <strong>¿Puedo comprar un producto que está en tienda MasterBike a través del sitio?</strong>
                    </a>
                  </div>
                  <div id="collapseTwo4" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Si, puedes inresar a la sección de producto, donde puedes agregar al carrito de compras los producto que necesites. <br>
                        Para la entrega de tus productos disponemos de envío a domicilio mediante courrier nacional o retiro directo en nuestra tienda.</p>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree4">
                      <strong>Necesito más información de producto. ¿Cómo la solicito?</strong>
                    </a>
                  </div>
                  <div id="collapseThree4" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                      <p>
                        Si leíste la descripción del artículo y aún tiene más dudas, te recomendamos comunicarte con nuestro Call Center o a través del Formulario de contacto.
                         Nuestros asistentes de ventas te orientarán y asesorarán para escoger el mejor producto para tus necesidades.
                        </p>                        
                    </div>
                  </div>
                </div>
              
              </div>
                
            </div>
        </main> 

  {% endblock main %}