{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}
  
        <main class="row col-12">
              <div class="row mt-4">
                <h1 class="row m-4 mb-5">Contraseña Perdida</h1>
                
                <div class="offset-2 col-9">                
                  <p class="met_desp_justi fs-5">¿Perdiste tu contraseña? Por favor, introduce tu nombre de usuario o correo electrónico. Recibirás un enlace para crear una contraseña nueva por correo electrónico. </p>

                  <div class="row mt-5">
                    <label for="restablecercontrasenia"><strong>Nombre de Usuario o contraseña*</strong></label>

                    <input class="col-6" type="text" name="usuarioContrasenia" id="restablecercontrasenia" placeholder="Usuario o Contraseña">
                    
                    <div class=" mt-2">
                    <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
                    </div>
                  </div>

                </div>
              </div>
        </main> 
    
  {% endblock main %}