{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block main %}
    <main class="row">

      <p class="col-12 text-center"><strong>{{error}}</strong></p>

      <form action="" id="form-login f_login" method="POST"> 
        {% csrf_token %}
        <div class="contenedor offset-3 col-6">
            <div class="text-center mt-4 mb-3">
                <i class="far fa-user" style="color: #0e65fb; font-size: 5rem;"></i>                        
            </div>
              {{form.as_p }}
            <div class="offset-3 col-6 fs-4 mt-4">
                  <a href="{% url 'core:ayuda_contrasenia' %}">¿Olvidó su contraseña?</a>
            </div>
            <div class="offset-3 col-6 fs-4 mt-4">                        
                <button type="submit" id="boton" class="btn btn-primary col-12 fs-3 mb-3">Iniciar sesión</button>                 
              
                <small id="finalHelp" class=" form-text text-danger"> </small>
            </div>                    
            <div class="offset-3 col-6 fs-4 mt-4 mb-4"> 
                <p>¿No tiene una cuenta?<span><a href="{% url 'core:registro_usuario' %}"> Registrarse aquí</a> </span> </p>
            </div>                    
            
        </div>
      </form>
    </main>
 {% endblock main %}

 {% block scripts %}
 {% comment %} <script src="{% static 'core/js/validacionLogin.js'%}"></script> {% endcomment %}
 {% endblock scripts %}