{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}
        <main class="row">
            <div class="offset-1 col-12 mt-5 mb-2">
              <h1>Mis Pedidos</h1>
            </div>
    
            <aside class="col-sm-2 bg-light-subtle m-4">
              <div>
                <a href="/Web/Apartado Usuario/PrincipalUsuario.html"><p>Mi cuenta</p></a>

                <p> <strong> Mis Pedidos</strong></p>
                <a href="/Web/Principal/index.html" style="text-decoration: none
                ;"><p>Salir</p></a>
              </div>
            </aside>
    
            <div class="col-sm-8 m-4">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item list-group-item-info"> Sin Articulos en tu carrito</li>
                </ol>
            </div>
    
          </main>

    {% endblock main %}