{% extends 'base.html' %}
{% load crispy_forms_tags %}
  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}
     <div class="offset-1 mt-3">
       <h1>Crear Nueva Cuenta Cliente</h1>
     </div>

      <main class="row offset-2 col-8 fs-4 mt-5">

        <form action="" class="form" id="form-register" method="POST">
          <div class="mb-3">
            <h2 class="border-bottom">Informacion Personal</h2>
          </div>
          {% csrf_token %}
          <div class="" >
            <div class="card-body">
              {{ form | crispy }}
            </div>
          </div>
          <div class="">
            <input id="limpiar" class="btn btn-primary btn-block mt-4 fs-3 col-sm-4 " type="reset" value="Limpiar"></input>
            <input class="btn btn-primary btn-block mt-4 fs-3 col-sm-4" type="submit" value="Registrar"></input>
          </div>

        </form>      
      </main>      
    {% endblock main %}