{% extends 'base.html' %}

  {% load static %}
  {% block head %}
  <title>MasterBike</title>
  {% endblock %}
  
    {% block main %}
      <main class="row col-12">
          <div class="row offset-1 col-10">

            <div class="row mt-5 mb-5">
              <h2>Seguimientos de pedidos</h2>
              <p>Si estás interesado en hacer seguimiento a tus pedidos, puedes usar la siguiente herramienta. <br> 
              Puedes usar tu número de pedido o también el número de seguimiento.
              </p>
            </div>
          
            <div class="row mt-5 mb-5">
              <p class="text-center mt-5"><strong>Ingresa tu número de pedido o número de seguimiento</strong></p>
              <div class="row offset-2 col-8">
                <input type="text" name="consulta" id="consulta"><br>
                <button type="submit" class="btn btn-primary mt-3 offset-4 col-4">Consultar</button>
              </div>
            </div>

          </div>
      </main> 

    {% endblock main %}