{% load static %}
<footer class="row col mt-5 p-5 bg-dark text-white text-left">      
      
    <div class="col-sm-6 col-md-4 fs-4 ">   
      <h3 class="border-bottom"><span class="footer_titles">Sobre nosotros</span></h3>     
      <a href="{% url 'historia' %}"><p>Historia</p></a>        
      <a href="{% url 'nuestras_tiendas' %}"><p>Nuestras Tiendas</p></a>
      <a href="{% url 'productosYservicios' %}"><p>Productos y servicios</p></a>
    </div>

    <div class="col-sm-6 col-md-4 fs-4 ">   
      <h3 class="border-bottom"><span class="footer_titles">Servicio al cliente</span></h3>     
      <p><a href="{% url 'preguntas_frecuentes' %}">Preguntas frecuentes </a> </p>
      <a href="{% url 'registro_bike' %}"><p>Registra tu bicicleta</p></a>    
      <a href="{% url 'metodos_envio' %}"><p>Métodos de envío</p></a>    
      <a href="{% url 'seguimiento_envio' %}"><p>Seguimiento de envio</p></a>    
    </div>

    <div class="col-sm-6 col-md-4 fs-4 ">   
      <h3 class="border-bottom mb-3"><span class="footer_titles"> Nuestras Redes Sociales</span></h3>     
      
      <i class="fab fa-facebook-f col-12 mb-4" style="color: #0260d2;"><br> <span class="text-white"><small><a href="https://es-la.facebook.com/"> facebook.com/master_bike</a></small></span></i> 
      
      <i class="fab fa-twitter col-12 mb-4" style="color: #2791fa;"><br><span class="text-white"><small><a href="https://twitter.com/?lang=es"> .master_bike</a></small></span></i>    
     
      <i class="fab fa-instagram col-12 mb-4" style="color: #c936ab;"><br><span class="text-white" ><small><a href="https://www.instagram.com/"> master_bike_</a></small></span></i>     
              
    </div>

    <div class="mt-5  offset-2 col-8 ">
      <h3 class="col-sm-12 ">Horario de atención: <br>
        <small class="col col-sm-4 " style="font-size: 1.1rem;"> Lunes a Viernes de 10:00 a 20:00 hrs.
          | Sábado de 10:00 a 16:00 hrs. <br> <i class="fas fa-phone col-sm-4 "> +5698477322</i></small>                   
      </h3>
    </div>

  </footer>