{% load static %}
<div class="row col position-sticky top-0" style="border-bottom: solid 1px black;">
    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'core:index' %}">
            <img src="{% static 'core/img/favicon-32x32.png'%} " alt="">
          </a>
          <div class="align ">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item menu__item">
                <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'core:index' %}"><span> Inicio</span></a>
              </li>
              <li class="nav-item menu__item">
                <a class="nav-link {% if request.resolver_match.url_name == 'productosYservicios' %}active{% endif %}" href="{% url 'core:productosYservicios' %}"><span>Productos y servicios</span></a>
              </li>
              <li class="nav-item menu__item">
                <a class="nav-link {% if request.resolver_match.url_name == 'contactanos' %}active{% endif %}" href="{% url 'core:contactanos' %}"><span>Contacto</span></a>
              </li>

              {% if request.user.is_authenticated %}   
              <li class="nav-item menu__item">
                <p class="text-black-50 mx-5 my-2 "> Bienvenido <span class="fw-bold text-capitalize"><a href="{% url 'core:principalUsuario' %}">{{user.username}}</a></span>
                  <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket " style="margin-left: 2rem;"> </i></a>
              </li>            
              {% else %}
              <li class="nav-item menu__item">
                <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'core:login' %}"><span>Login</span></a>
              </li>            
              {% endif %}    

            </ul>            
            <div>
              
                     
           </div>
            </div>
          </div>
        </div>                
    </nav>            
</div>